<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1f1f14;">
  <a class="navbar-brand hvr-float-shadow" href="/"  th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"><img 	WIDTH=50 height=40 src="https://www.e-leclerc.re/public/img/logo_eco_plus.png" /></a>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link hvr-float-shadow" th:classappend="${#httpServletRequest.getRequestURI() == '/topArticle' ? 'active':''}" href="/topArticle">Top Article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-float-shadow" th:classappend="${#httpServletRequest.getRequestURI() == '/ajout' ? 'active':''}" href="/ajout">Ajouter un article</a>
      </li>
     </ul>
     
     <h1 style="margin-left:100px;">
     	<span class="titre">Amazon Eco+</span>
     </h1>
     
     
     
     <ul class="navbar-nav mr-auto" style="margin-left:500px;">
     <form class="form-inline my-2 my-lg-0" action="recherche" method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="article">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
     	<li class="nav-item">
   
			<div sec:authorize="!isAuthenticated()">
	     		<a class="nav-link hvr-float-shadow" href="/connexion" >Connexion</a>
	     	</div>
	     	
	     	<div sec:authorize="isAuthenticated()">
	     		<a class="nav-link hvr-float-shadow" href="/deconnexion" >Deconnexion</a>
	     	</div>
     	</li>
     </ul>
     
  
  </div>
</nav>
