<html>
<head th:include="inc/head"> 

<title th:text="${appName}"> </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 
</head>
<body>

<div th:include="inc/nav"></div>
<br/>
<div class="container">

<h1> Ajouter un article </h1>
<br/>
<form method="POST" action="http://localhost:8083/api/articles">

  <div class="form-group">
    <label>Nom de l'article</label>
    <input type="text" name="nom" class="form-control"  placeholder="Nom">
  </div>
  <div class="form-group">
    <label>Prix</label>
    <input type="number" step="0.01"  name="prix" class="form-control" placeholder="Prix">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlSelect2">Catégories</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
    	<div th:each="allCategorie: ${allCategorie}">
      		<option th:text="${allCategorie.nom}"></option>
      	</div>
    </select>
  </div>
  <button type="submit"  class="btn btn-primary">Valider</button>
</form>

</div>

</body>
</html>