<html lang="fr">
<head th:replace="inc/head">
	
<title th:text="${appName}"> Article </title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>

<style>

.rating {
   direction: rtl;
}
.rating a {
   color: #aaa;
   text-decoration: none;
   font-size: 3em;
   transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}


</style>
<div th:include="inc/nav"></div>
<br/>
<div class="container">
<h1>Fiche Produit :</h1>
<br />
<div class="card text-center">
  <div class="card-header">
    L'article selectionné est : <h4><span th:text="${article.nom}"></span></h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Son prix est de <span th:text="${article.prix}"></span>€</h5>

  </div>
  <div class="card-footer text-muted">
   	<span class="badge badge-success">En stock</span>
  </div>
</div>
<br/>
<h2>Ajouter un avis sur cet article :</h2>
	<form action="http://localhost:8083/api/articles/article" method="POST">
		<div class="form-group">
	    	<label for="formControlRange">Note sur 5 de cet article :</label>
	    	<div class="rating"><!--
			   --><a href="#5" name="note" th:value="5" title="Donner 5 étoiles">☆</a><!--
			   --><a href="#4" name="note" th:value="4" title="Donner 4 étoiles">☆</a><!--
			   --><a href="#3" name="note" th:value="3" title="Donner 3 étoiles">☆</a><!--
			   --><a href="#2" name="note" th:value="2" title="Donner 2 étoiles">☆</a><!--
			   --><a href="#1" name="note" th:value="1" title="Donner 1 étoile">☆</a>
			</div>
	  	</div>

		<div class="form-group">
		    <label for="exampleFormControlTextarea1">Ajouter un commentaire</label>
		    <textarea class="form-control" name="commentaire" id="exampleFormControlTextarea1" rows="3"></textarea>
		</div>
		
		<input name="id_article" type="hidden" th:value="${article.id}">
		
	<button type="submit"  class="btn btn-primary">Valider</button>
	</form>

</div>
</body>
</html>