<html>
<head th:include="inc/head"> 

<title th:text="${appName}"> </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 
</head>
<body>

<div th:include="inc/nav"></div>
<br/>
<div class="container">

	<h1>Bonjour !</h1>
	<p>Bienvenue sur notre site e-commerce.</p>

	<b>Liste des articles :</b>
<table class="table">
<thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col">Fiche article</th>
    </tr>
  </thead>
   <tbody>
    <tr th:each="allArticle: ${allArticle}">
    
      <td th:text="${allArticle.nom}"></td>
      <td th:text="${allArticle.prix}"></td>
      <td><a th:href="@{'http://localhost:8083/article?id='+${allArticle.id}}"><i class="fas fa-book fa-2x"></i></a></td>
 
    </tr>
  </tbody>
</table>
</div>

</body>
</html>