<html>
<head th:include="inc/head">

<title th:text="${appName}"> </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 
</head>
<body>

<div th:include="inc/nav"></div>
<br/>
<div class="container">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
    <br/>
    <style>
	    .form-control-borderless {
		    border: none;
		}
		
		.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
		    border: none;
		    outline: none;
		    box-shadow: none;
		}
    </style>
    <h1>Rechercher un produit :</h1>
    <br>
	<div class="row justify-content-center">
       <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" id="valeur" placeholder="Rechercher un produit" name="article">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
    <table class="table">
	<thead>
	    <tr>
	      <th scope="col">Nom</th>
	      <th scope="col">Prix</th>
	      
	    </tr>
	  </thead>
	   <tbody>
	    <tr th:each="listSearch: ${listSearch}">
	    
	      <td th:text="${listSearch.nom}"></td>
	      <td th:text="${listSearch.prix}"></td>
	   
	 
	    </tr>
	  </tbody>
	</table>
<script>

</script>
</div>
</div>
</body>
</html>