<html>
<head th:include="inc/head"> 

<title th:text="${appName}"> </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 
</head>
<body>

<div th:include="inc/nav"></div>
<br/>
<div class="container">

<h1> Top des articles </h1>
	
</div>
</body>
</html>